<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>Classes</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-3" th:replace="/layout::sidebar">
    </div>
    <div class="col-9">
      <div>
        <div class="notify">
          <div>
            <span th:text="${message}"></span>
          </div>
        </div>
        <h3>Thêm mới hợp đồng</h3>
        <p>
          <a class="btn btn-sm btn-outline-primary" th:href="@{/contracts}">
            Quay lại Danh sách hợp đồng
          </a>
        </p>
        <div id="form">
          <form th:action="@{/contracts/save}" th:object="${contractDto}"
                method="POST">
            <!--        <input type="hidden" th:field="*{contractId}"/>-->
            <div class="input-group">
              <label for="contractCode">Mã hợp đồng(CT-xxx)(*): </label>
              <input type="text" id="contractCode" th:field="*{contractCode}" placeholder="Nhập mã hợp đồng"/>
              <p style="color: red" th:if="${#fields.hasErrors('contractCode')}" th:errors="*{contractCode}"></p>
            </div>
            <div class="input-group">
              <label for="currentDate">Ngày làm hợp đồng: </label>
              <input style="border: 0" type="text" id="currentDate" readonly th:field="*{startDate}">
            </div>
            <div class="input-group">
              <label for="endDate">Ngày kết thúc hợp đồng: </label>
              <input type="date" required id="endDate"  th:field="*{endDate}"/>
              <p style="color: red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
            </div>
            <div class="input-group">
              <label for="salary">Hệ số lương: </label>
              <select id="salary" th:field="*{salaryLevel}">
                <option th:value="${salaryLevel.getSalaryLevelId()}" th:each="salaryLevel: ${salaryLevelList}" th:text="${salaryLevel.getCoefficientsSalary()}"></option>
              </select>
            </div>
            <input type="submit" value="Thêm mới hợp đồng" class="btn btn-sm btn-outline-success"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Lấy ngày hiện tại
  var currentDate = new Date();

  // Format ngày hiện tại dưới dạng YYYY-MM-DD
  var formattedDate = currentDate.toISOString().split('T')[0];
  // Lấy thông tin ngày, tháng, năm
  // var day = currentDate.getDate();
  // var month = currentDate.getMonth() + 1; // Lưu ý: Tháng bắt đầu từ 0
  // var year = currentDate.getFullYear();
  // // Định dạng lại chuỗi ngày theo "dd/mm/yyyy"
  // var formattedDate = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;
  // Gán giá trị cho ô input
  document.getElementById('currentDate').value = formattedDate;
</script>
</body>
</html>