<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
</head>
<body>

<nav th:replace="/layout::sidebar"></nav>


<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<div class="w3-main w3-light-grey" style="margin-left:300px; height: 100vh">

    <header id="welcome">
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>Thêm mới quyền truy cập</b></h1>
            <div class="w3-section w3-padding-16">
                <hr>

                <p>
                    <a  class="btn btn-sm btn-outline-primary" href="/app-role">
                        Trở lại danh sách quyền truy cập
                    </a>
                </p>
                <div id="form">
                    <form action="/app-role/save" th:object="${appRole}" method="post">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><label for="name">Tên quyền truy cập(<span style="color: red">*</span>)</label></td>
                                <td><input style="width: 500px" class="form-control" placeholder="Nhập tên quyền truy cập" required type="text" id="name" th:field="*{roleName}"/></br>
                                    <span style="color: red" th:text="${message}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="btn btn-sm btn-outline-success">Lưu</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </header>
</div>

<script th:replace="/layout::script-sidebar"></script>
</body>
</html>