<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3" th:replace="/layout::sidebar">
        </div>

        <div class="col-9" style="padding: 0">
            <h1>Chỉnh sửa role</h1>
            <p>
                <a href="/app-role">
                    <button class="my-2 bg-secondary">Trở lại</button>
                </a>
            </p>
            <div id="form">
                <form action="/app-role/update" th:object="${appRole}" method="post">
                    <input type="hidden" th:field="*{roleId}"/>
                    <input type="hidden" th:field="*{status}"/>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label for="name">Tên role</label></td>
                            <td><input required type="text" id="name" th:field="*{roleName}"/></br>
                                <spam style="color: red" th:text="${message}"></spam>
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="my-2 bg-secondary">Lưu</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
S
</body>
</html>