<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
</head>
<body>

  <script>
    function displayToast(message, color) {
      document.getElementById("toastContent").innerHTML = message;
      document.getElementById("liveToast").style.background = color;
      let myAlert = document.getElementById('liveToast');//select id of toast
      let bsAlert = new bootstrap.Toast(myAlert);//inizialize it
      bsAlert.show();//show it
    }
  </script>

  <nav th:replace="/layoutUser::sidebarUser">

  </nav>

  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
       title="close side menu" id="myOverlay"></div>

  <div class="w3-main w3-light-grey" style="margin-left:300px; height: 100vh">

    <header id="welcome">
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
      <div class="w3-container">
        <h1><b>Trang chủ</b></h1>
        <div class="w3-section w3-padding-16">
          <hr>

          <div class="position-fixed top-0 end-5 p-3" style="z-index: 11;margin-left: 500px">
            <div id="liveToast" style="width: 230px; color: white; background:lightgreen ;border-radius:2% 2%;"
                 class="toast"
                 role="dialog" aria-live="assertive" aria-atomic="true">
              <div class="toast-body">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="30px" height="30px">
                  <g id="surface1_4_">
                    <path style="fill:#4CAF50;"
                          d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"/>
                    <path style="fill:#CCFF90;"
                          d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"/>
                  </g>
                </svg>
                <span id="toastContent">Nội dung hiển thị</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

  </div>
  <script th:replace="/layout::script-sidebar"></script>

    <input hidden id="success" th:value="${success}">
    <script th:if="${success}">
      displayToast(document.getElementById("success").value, "green")
    </script>
</body>
</html>