<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/layout::head">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3" th:replace="/layout::sidebar">
        </div>

    <div class="col-9" style="padding: 0">
        <h2>Quản Lý Giáo Viên</h2>
        <div class="input-group mb-3">
            <form action="#">
                <fieldset>
                    <legend style="margin: 5px">Tìm Kiếm</legend>
                    <input name="searchName" th:value="${searchName}" class="form-control" type="text"
                           aria-label="readonly input example" style="margin: 10px;width: 85%;display: inline-block">
                    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                </fieldset>
            </form>
        </div>
        <a class="btn btn-outline-success" th:href="@{teacher/add}" role="button">Add</a>

        <div class="row">

            <div class="col-12" style="padding: 0">
                <table class="table table-hover" style="background-color:#A9A9A9">
                    <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Ngày/Tháng/NămSinh</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Giới Tính</th>
                        <th scope="col" colspan="4">Chức năng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${!teacherPage.hasContent()}">
                        <td>
                            <h2>Danh Sách Rỗng</h2>
                        </td>
                    </tr>
                    <tr th:each="teacher , status : ${teacherPage}">

                        <td th:text="${status.count}"></td>
                        <td th:text="${teacher.getTeacherName()}"></td>
                        <td th:text="${teacher.getDateOfBirth()}"></td>
                        <td th:text="${teacher.getAddress()}"></td>
                        <td>
                            <span th:if="${teacher.gender} == true">Nam</span>
                            <span th:unless="${teacher.gender} == true">Nữ</span>
                        </td>
                        <td><a th:href="@{/teacher/edit${teacher.getTeacherId()}}"
                               data-bs-toggle="modal"
                               data-bs-target="#editModal"
                               th:attr="data-id=${teacher.getTeacherId()}, data-name=${teacher.getTeacherName()} , data-phone = ${teacher.getPhoneNumber()},

data-img = ${teacher.getImgOfTeacher()} , data-salary = ${teacher.getBasicSalary()} , data-address = ${teacher.getAddress()} , data-dob = ${teacher.getDateOfBirth()},
data-gender = ${teacher.gender}, data-idCard = ${teacher.getIdentificationCard()} , data-email = ${teacher.getMail()} , data-codeTeacher = ${teacher.getTeacherCode()}
" onclick="editTeacher(this)">
                            <button type="button" id="editModalBtn" class="btn btn-sm btn-primary">
                                Chỉnh Sửa
                            </button>
                        </a></td>
                        <td><a th:href="@{/teacher/delete(id=${teacher.getTeacherId()})}"
                               data-bs-toggle="modal"
                               data-bs-target="#deleteModal"
                               th:attr="data-id=${teacher.getTeacherId()}, data-name=${teacher.getTeacherName()}"
                               onclick="deleteTeacher(this)">
                            <button type="button" class="btn btn-sm btn btn-danger">
                                Xoá
                            </button>
                        </a></td>
                        <td>
                        <td><a th:href="@{/teacher/detail${teacher.getTeacherId()}}"
                               data-bs-toggle="modal"
                               data-bs-target="#detailModal"
                               th:attr="data-id=${teacher.getTeacherId()}, data-name1=${teacher.getTeacherName()} , data-phone = ${teacher.getPhoneNumber()},

data-img = ${teacher.getImgOfTeacher()} , data-salary = ${teacher.getBasicSalary()} , data-address = ${teacher.getAddress()} , data-dob = ${teacher.getDateOfBirth()},
data-gender = ${teacher.gender}, data-idCard = ${teacher.getIdentificationCard()} , data-email = ${teacher.getMail()} , data-codeTeacher = ${teacher.getTeacherCode()} , data-userName = ${teacher.getAppUser().getUsername()} , data-contract = ${teacher.getContract().getContractCode()}
" onclick="detailTeacher(this)">
                            <button type="button" class="btn btn-sm btn-success">
                                Chi Tiết
                            </button>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
                <a id="previous" style="text-decoration: none" th:if="${teacherPage.hasPrevious()}"
                   th:href="@{/teacher(page=${teacherPage.number-1},name=${name})}">Previous</a>
                <span th:text="${teacherPage.number+1}"></span>/
                <span th:text="${teacherPage.totalPages}"></span>
                <a id="next" style="text-decoration: none" th:if="${teacherPage.hasNext()}"
                   th:href="@{/teacher(page=${teacherPage.number+1},name=${name})}">next</a>
            </div>
        </div>
    </div>
    </div>
</div>

    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/blog/detail" method="get">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="detailModalLabel">Chi Tiết</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="detailId" name="id">
                        <table class="table">
                            <tr>
                                <td rowspan="10">
                                    <img id="img" height="210px" width="155px">
                                </td>
                                <th>
                                    Họ và Tên
                                </th>
                                <td>
                                    <p id="nameTeacher"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Giới Tính
                                </th>
                                <td>
                                    <p id="gender"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Mã Giáo Viên
                                </th>
                                <td>
                                    <p id="codeTeacher"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Tên Tài Khoản
                                </th>
                                <td>
                                    <p id="userName"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Mã Hợp Đồng
                                </th>
                                <td>
                                    <p id="contract"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Lương
                                </th>
                                <td>
                                    <p id="salary"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Ngày Sinh
                                </th>
                                <td>
                                    <p id="dob"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Địa Chỉ
                                </th>
                                <td>
                                    <p id="address"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Email
                                </th>
                                <td>
                                    <p id="mail"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Số Điện Thoại
                                </th>
                                <td>
                                    <p id="phone"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal">Xoá
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/teacher/delete" method="get">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Xoá Giảng Viên</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn Có Chắc Chắn Muốn Xoá <span id="nameDelete"></span>?
                        <input type="hidden" id="id" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"> Đóng</button>
                        <button type="submit" class="btn btn-sm btn-danger"> Xoá</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<script>
    function deleteTeacher(element) {
        let id = element.getAttribute('data-id');
        let name = element.getAttribute('data-name');
        document.getElementById("nameDelete").innerHTML = name;
        document.getElementById("editId").value = id;
    }

    function detailTeacher(element) {
        let img = element.getAttribute("data-img");
        let id = element.getAttribute("data-id");
        let name = element.getAttribute('data-name1');
        let salary = element.getAttribute("data-salary");
        let phone = element.getAttribute("data-phone");
        let address = element.getAttribute("data-address");
        let dob = element.getAttribute("data-dob");
        let gender = element.getAttribute("data-gender");
        let idCard = element.getAttribute("data-idCard");
        let mail = element.getAttribute("data-email");
        let codeTeacher = element.getAttribute("data-codeTeacher");
        let userName = element.getAttribute("data-userName");
        let contract = element.getAttribute("data-contract");
        let gender1 = "";
        if (gender == "true") {
            gender1 = "Nam";
        } else {
            gender1 = "Nữ";
        }
        document.getElementById("gender").innerText = gender1;
        document.getElementById("img").src = img;
        document.getElementById("nameTeacher").innerText = name;
        document.getElementById("dob").innerText = dob;
        document.getElementById("mail").innerText = mail;
        document.getElementById("phone").innerText = phone;
        document.getElementById("address").innerText = address;
        document.getElementById("codeTeacher").innerText = codeTeacher;
        document.getElementById("salary").innerText = salary;
        document.getElementById("userName").innerText = userName;
        document.getElementById("contract").innerText = contract;

    }

    function editTeacher(element) {
        let img = element.getAttribute("data-img");
        let id = element.getAttribute("data-id");
        let name = element.getAttribute('data-name');
        let salary = element.getAttribute("data-salary");
        let phone = element.getAttribute("data-phone");
        let address = element.getAttribute("data-address");
        let dob = element.getAttribute("data-dob");
        let gender = element.getAttribute("data-gender");
        let idCard = element.getAttribute("data-idCard");
        let mail = element.getAttribute("data-email");
        let codeTeacher = element.getAttribute("data-codeTeacher");
        let gender1 = "";
        if (gender == "true") {
            gender1 = "Nam";
        } else {
            gender1 = "Nữ";
        }
        // document.getElementById("imgEdit").src = img;
        // document.getElementById("img").value = img;
        document.getElementById("salaryEdit").value = salary;
        document.getElementById("phoneEdit").value = phone;
        document.getElementById("addressEdit").value = address;
        document.getElementById("dobEdit").value = dob;
        document.getElementById("genderEdit").value = gender1;
        // document.getElementById("idCardEdit").value = idCard;
        document.getElementById("mailEdit").value = mail;
        document.getElementById("codeTeacherEdit").value = codeTeacher;
        document.getElementById("nameDetailEdit").value = name;
        // document.getElementById("editId").value = id;
        console.log(name)
    }
</script>
</html>