<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="/layout::sidebar"></nav>


<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<div class="w3-main w3-light-grey" style="margin-left:300px; height: 100vh">

    <header id="welcome">
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>Lương nhân viên</b></h1>
            <div class="w3-section w3-padding-16">
                <hr>

                <table width="100%" class="table-striped">
                    <tbody id="content">
                    <tr>
                        <td class="span-field" width="20%">
                            <span class="input-group-text">Giảng viên:</span>
                        </td>
                        <td>
                            <select class="form-select input-group-text" aria-label="Default select example" id="teacher"
                                    onchange="displayBasicSalary()">

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class=" input-group-text">Lương cơ bản:</span>
                        </td>
                        <td id="basicSalary">
                            <input readonly type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="input-group-text">Hệ số lương:</span>
                        </td>
                        <td id="coefficientSalary">
                            <input readonly type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="input-group-text">Phụ cấp:</span>
                        </td>
                        <td id="allowance">
                            <input readonly type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                    <tr hidden>
                        <td>
                            <span class="input-group-text">Khấu trừ (%):</span>
                        </td>
                        <td id="warning">
                            <input readonly type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="input-group-text">Tổng lương:</span>
                        </td>
                        <td id="result">
                            <input readonly type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button onclick="printInvoice()" class="btn-outline-success my-3">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#printer"/>
                    </svg>
                    Xuất PDF
                </button>
            </div>
        </div>
    </header>

</div>

<script th:replace="/layout::script-sidebar"></script>

<div hidden>
    <!--        tạo một div ẩn rồi 1 div trong nó là trang cần in.-->
    <div id="content-to-print">
        <div id="container">
            <h4 style="text-align: center">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h4>
            <h5 style="text-align: center">Độc lập - Tự do - Hạnh phúc</h5>
            <h2 style="text-align: center"> Biên lai thanh toán lương </h2>
            <h3 style="text-align: center"> <i>Codegym Đà Nẵng</i> </h3>
            <table style="border-collapse: separate; border-spacing: 12px">
                <tr>
                    <td>
                        Tôi là:
                    </td>
                    <td>
                        <span id="teacher1"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Lương cơ bản:
                    </td>
                    <td>
                        <span id="basicSalary1"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Hệ số lương:
                    </td>
                    <td>
                        <span id="coefficientSalary1"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Phụ cấp:
                    </td>
                    <td>
                        <span id="allowance1"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Khấu trừ (%):
                    </td>
                    <td>
                        <span id="warning1"> </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Thực nhận:
                    </td>
                    <td>
                        <span id="result1"></span>
                    </td>
                </tr>
            </table>
            <p>Xác nhận đã nhận lương vào ngày <span id="dateTimeReceive"></span></p>
            <p style="margin-left: 50%"><i>Kí, ghi rõ họ tên</i></p>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
            display();

        }
    )


    function display() {
        let teacher = "<option value='0'> -- Chọn giảng viên --</option>"
        $.ajax(
            {
                contentType: "application/json",
                dataType: "json",
                method: "GET",
                url: "http://localhost:8080/api-salary",
                success: function (data) {
                    for (let i = 0; i < data.length; i++) {
                        teacher += `<option value="${data[i][0]}">${data[i][10]}  ${data[i][11]}</option>`
                    }
                    $("#teacher").html(teacher)
                }
            }
        )
    }

    function displayBasicSalary() {
        let teacherName;
        let basicSalary = "";
        let basicSalary1;
        let coefficientSalary = "";
        let coefficientSalary1;
        let warning = "";
        let warning1;
        let allowance = "";
        let allowance1;
        let teacherId = $("#teacher").val();
        if (teacherId == 0) {
            calcSalary();
            $("#basicSalary").html("<input  readonly type=\"text\" class=\"form-control\" aria-label=\"Sizing example input\" aria-describedby=\"inputGroup-sizing-default\">\n")
            $("#coefficientSalary").html("<input  readonly type=\"text\" class=\"form-control\" aria-label=\"Sizing example input\" aria-describedby=\"inputGroup-sizing-default\">\n")
            $("#warning").html("<input  readonly type=\"text\" class=\"form-control\" aria-label=\"Sizing example input\" aria-describedby=\"inputGroup-sizing-default\">\n")
            $("#allowance").html("<input  readonly type=\"text\" class=\"form-control\" aria-label=\"Sizing example input\" aria-describedby=\"inputGroup-sizing-default\">\n")
            return
        }
        $.ajax(
            {
                contentType: "application/json",
                dataType: "json",
                method: "GET",
                url: `http://localhost:8080/api-salary/change-teacher?teacherId=${teacherId}`,
                success: function (data) {
                    console.log(data)
                    for (let i = 0; i < data.length; i++) {
                        teacherName = `${data[i][11]}`
                        basicSalary = `<input value="${data[i][2]}" id="basicSalary" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">`;
                        basicSalary1 = `${data[i][2]}`
                        coefficientSalary = `<input value="${data[i][15]}" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">`
                        coefficientSalary1 = `${data[i][15]}`
                        warning = `<input value="${data[i][12]}" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">`
                        warning1 = `${data[i][12]}`
                        allowance = `<input value="${data[i][16]}" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">`
                        allowance1 = `${data[i][16]}`
                    }
                    $("#basicSalary").html(basicSalary)
                    $("#coefficientSalary").html(coefficientSalary)
                    $("#warning").html(warning)
                    $("#allowance").html(allowance)

                    document.getElementById('teacher1').innerText = teacherName;
                    document.getElementById('basicSalary1').innerText = basicSalary1;
                    document.getElementById('coefficientSalary1').innerText = coefficientSalary1;
                    document.getElementById('warning1').innerText = warning1;
                    document.getElementById('allowance1').innerText = allowance1;
                }
            }
        )
        calcSalary();
    }

    function calcSalary() {
        let salary = 0;
        let basicSalary = 0;
        let coefficientSalary = 0;
        let warning = 0;
        let allowance = 0;
        let result = "";
        let teacherId = $("#teacher").val();
        if (teacherId == 0) {
            $("#result").html(
                "<input readonly type=\"text\" class=\"form-control\" aria-label=\"Sizing example input\" aria-describedby=\"inputGroup-sizing-default\">"
            )
            return
        }

        $.ajax(
            {
                contentType: "application/json",
                dataType: "json",
                method: "GET",
                url: `http://localhost:8080/api-salary/change-teacher?teacherId=${teacherId}`,
                success: function (data) {
                    console.log(data)
                    for (let i = 0; i < data.length; i++) {
                        basicSalary = data[i][2];
                        coefficientSalary = data[i][15];
                        warning = data[i][12];
                        allowance = data[i][16];
                    }
                    salary = (basicSalary * coefficientSalary + allowance) - (warning * basicSalary)
                    result = `<input value='${salary} VND' readOnly type="text" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">`
                    $("#result").html(result);
                    document.getElementById('result1').innerText = salary;
                    document.getElementById('dateTimeReceive').innerHTML = new Date().toLocaleDateString('en-GB');
                }
            }
        )
    }

    // function getData() {
    //     document.getElementById('teacher1').innerText = (document.getElementById('teacher').value);
    //     document.getElementById('basicsalary1').innerText = (document.getElementById('basicSalary').value);
    //     document.getElementById('coefficient1').innerText = (document.getElementById('coefficientSalary').value);
    //     document.getElementById('allowance1').innerText = (document.getElementById('allowance').value);
    //     document.getElementById('result1').innerText = (document.getElementById('result').value);
    // }


    function printInvoice() {
        var invoiceContent = document.getElementById('content-to-print').innerHTML;
        var printWindow = window.open('', '_blank');
        printWindow.document.open();
        printWindow.document.write('<html><head><title>Print</title></head><body style="display: flex;\n' +
            ' justify-content: center;\n">' + invoiceContent + '</body></html>');
        printWindow.document.close();
        printWindow.print();
    }

</script>
</body>
</html>