<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3" th:replace="/layout::sidebar">
        </div>

        <div class="col-9" style="padding: 0">
            <h1>Thêm mới tài khoản</h1>
            <p>
                <a href="/app-user">
                    <button class="my-2 bg-secondary">Trở lại</button>
                </a>
            </p>
            <div id="form">
                <form action="/app-user/save" th:object="${userRoleDto}" method="post">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label for="name">Tên tài khoản</label></td>
                            <td>
                                <input placeholder="Nhập tên tài khoản" required type="text" id="name" th:field="*{username}"/> </br>
                                <spam style="color: red" th:text="${message}"></spam>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Chọn role</label></td>
                            <td>
                                <div class="form-check" th:each="role : ${appRoleList}">
                                    <input class="form-check-input" type="checkbox" th:value="${role.roleId}"
                                           th:field="*{appRoles}" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault" th:text="${role.roleName}">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="my-2 bg-secondary">Lưu</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>