<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
</head>
<body>

<nav th:replace="/layout::sidebar"></nav>


<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<div class="w3-main w3-light-grey" style="margin-left:300px; height: 100vh">

    <header id="welcome">
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>Chỉnh sửa tài khoản</b></h1>
            <div class="w3-section w3-padding-16">
                <hr>

                <p>
                    <a href="/app-user">
                        <button class="my-2 bg-secondary">Trở lại</button>
                    </a>
                </p>
                <div id="form">
                    <form action="/app-user/update" th:object="${userRoleDto}" method="post">
                        <input type="hidden" th:field="*{userId}"/>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><label for="name">Tên tài khoản</label></td>
                                <td><input required type="text" id="name" th:field="*{username}"/></br>
                                    <spam style="color: red" th:text="${message}"></spam>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Chọn role </label></td>
                                <td>
                                    <div class="form-check" th:each="role : ${appRoleList1}">
                                        <input class="form-check-input" type="checkbox" th:value="${role.roleId}"
                                               th:field="*{appRoles}" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault" th:text="${role.roleName}">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="my-2 bg-secondary">Lưu</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </header>

</div>

<script th:replace="/layout::script-sidebar"></script>

</body>
</html>