<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Classes</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="/layout::sidebar"></div>
        <div class="container col-9">
            <h3>Thêm mới lớp học</h3>
            <p>
                <a class="btn btn-sm btn-outline-primary" th:href="@{/classes}">
                    Quay lại Danh sách lớp học
                </a>
            </p>
            <div id="form">
                <form th:action="@{/classes/save}" th:object="${newClassDto}"
                      method="POST">
                    <input type="hidden" th:field="*{classId}"/>
                    <p>Vui lòng nhập tên lớp muốn thêm (*): </p>
                    <div class="btn-group">
                        <input type="text" id="className" required th:field="*{className}" placeholder="Nhập tên lớp"/>
                        <div style="margin-right: 5px"></div><input type="submit" value="Thêm lớp học này" class="btn btn-sm btn-outline-success"/>
                        <!--                    <span th:if="${#fields.hasErrors('className')}" th:errors="*{className}"></span>-->
<!--                        <small style="color: red" th:if="${#fields.hasErrors('className')}"-->
<!--                               th:errors="*{className}"></small><br>-->
                    </div>
                    <div><span style="color: red" th:text="${validationMessage}"></span></div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>